@media (max-width: 767px) {
    .header {
        padding: 24px 0;

        &__menu,
        &__address {
            display: none;
        }

        &__mobile-menu {
            display: flex;
            flex-direction: column;
        }

        &__menu-link {
            font-size: 36px;
            font-weight: 700;
            line-height: 1.11;
            text-transform: capitalize;
            padding: 0;

            &.current::after {
                display: none;
            }
        }

        &__mobile-address {
            display: block;
        }

        &__contact {
            flex-direction: column;
        }

        &__contact-link {
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2;
        }

        &__contact-tel {
            color: var(--iris);
            font-size: 36px;
            font-weight: 700;
            line-height: 1.11;
        }

        &__socials {
            justify-content: flex-start;
            gap: 56px;
            margin-top: 48px;
        }
    }

    .logo {
        margin-right: 0;
    }
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}