@media (max-width: 767px) {
    .header {
        padding: 24px 0;

        &__menu,
        &__address {
            display: none;
        }

        &__mobile-menu {
            display: flex;
            flex-direction: column;
        }

        &__menu-link {
            font-size: 36px;
            font-weight: 700;
            line-height: 1.11;
            text-transform: capitalize;
            padding: 0;

            &.current::after {
                display: none;
            }
        }

        &__mobile-address {
            display: block;
        }

        &__contact {
            flex-direction: column;
        }

        &__contact-link {
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2;
        }

        &__contact-tel {
            color: var(--iris);
            font-size: 36px;
            font-weight: 700;
            line-height: 1.11;
        }

        &__socials {
            justify-content: flex-start;
            gap: 56px;
            margin-top: 48px;
        }
    }

    .logo {
        margin-right: 0;
    }

    .hero {
        padding: 112px 0;

        &__title {
            max-width: 320px;
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            margin-bottom: 72px;
        }
    }

    .features {

        &__list-item {
            flex-basis: 100%;
        }

        &__item-title {
            text-align: center;

        }
    }

    .team {
        &__list {
            flex-direction: column;
            row-gap: 72px;
        }
    }

    .customers {

        & .container {
            max-width: 396px;
        }

        &__list {
            gap: 16px;
        }

        &__list-item {
            max-width: 190px;
            flex-basis: calc((100% - 16px) / 2);
            margin: 0 auto;
        }
    }

    .footer {
        & .container {
            flex-direction: column;
            gap: 72px;
        }

        &__info {
            text-align: center;
            margin-right: 0;
        }

        &__text {
            max-width: 268px;
        }

        &__social {
            text-align: center;
            margin: 0 auto;
        }

        &__subscribe {
            text-align: center;
            margin: 0 auto;
        }

        &__form {
            flex-direction: column;
            max-width: 398px;
            width: 100%;
        }

        &__form-label {
            max-width: 398px;
            width: 100%;
        }
        
        &__form-input {
            
        }

        &__button {
            
        }
    }
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }

    .features {
        &__list {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}

@media (min-width: 768px) and (max-width: 1157px) {
    .header {
        &__contact {
            flex-direction: column;
            gap: 12px;
        }
    }

    .features {
        &__list-item {
            flex-basis: calc((100% - 24px) / 2);
        }
    }

    .team {
        
        & .container {
            max-width: 552px;
        }

        &__list {
            flex-direction: row;
            row-gap: 64px;
        }

        &__item {
            flex-basis: calc((100% - 24px) / 2);
        }
    }

    .customers {

        & .container {
            max-width: 552px;
        }
        &__list-item {
            flex-basis: calc((100% - 48px) / 3);
        }
    }
}

@media (max-width: 1158px) {
    .features {
        padding: 96px 0;

        &__list {
            row-gap: 72px;
        }

        &__list-item {
            height: auto;
        }

        &__list-block-icon {
            display: none;
        }

        &__item-title {
            color: var(--navyblue, #2E2F42);
            font-size: 36px;
            font-weight: 700;
            line-height: 1.11;
        }

        &__item-text {
            font-weight: 500;
        }
    }

    .works {
        display: none;
    }

    .team {
        padding: 96px 0;

        &__item {
            max-width: 264px;       
            margin: 0 auto;     
        }
    }

    .customers {
        padding: 96px 0;

        &__list {
            row-gap: 72px;
        }
    }
}

@media (min-width: 1158px) {
    .features {

        &__list-block-icon {
            display: flex;
        }
    }
}